[submodule "note-service"]
	path = note-service
	url = git@github.com:vb1120/note-service.git
[submodule "users-service"]
	path = users-service
	url = git@github.com:vb1120/users-service.git
[submodule "mailing-service"]
	path = mailing-service
	url = git@github.com:vb1120/mailing-service.git
